<div class="flex-container"
    style="display: flex;flex-direction: row;font-size: 30px;gap:50px;text-align: center;padding: 0px 50px 0 50px; ">
    <div class="flex-item-left" style="padding: 10px; flex: 70%;">
        <div style="display: flex;align-items:center;justify-content:space-between">
            <h1 style="text-align: left;font-weight:bold ;">Quản lý sản phẩm</h1>
            <div style="display: flex; align-items: center;margin-right:0px;margin-bottom:6px">
                <form class="dropdown" id="sortForm" method="GET">
                    <button id="sortDropdown"
                        style="background-color: #ffffff; border: 1px solid #000000; border-radius: px; color: #151515; padding: 10px; font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; cursor: pointer; width: 100%;"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sắp xếp
                    </button>
                    <input type="hidden" name="sort" id="sortValue" value="">
                    <ul class="dropdown-menu" name="sort"
                        style="position: absolute; left: 50%; transform: translate(-50%, 0); text-align: center; margin-top: 5px; padding: 0; border-radius: 5px; background-color: #ffffff; border: 1px solid #ddd; z-index: 1000; width: auto;">
                        <li style="list-style: none;">
                            <button class="dropdown-item" value="thap-den-cao"
                                style="padding: 10px 15px; display: block; text-decoration: none; color: #333;">
                                Thấp đến cao
                            </button>
                        </li>
                        <li style="list-style: none;">
                            <button class="dropdown-item" value="cao-den-thap"
                                style="padding: 10px 15px; display: block; text-decoration: none; color: #333;">
                                Cao đến thấp
                            </button>
                        </li>
                        <li style="list-style: none;">
                            <button class="dropdown-item" value="moi-nhap"
                                style="padding: 10px 15px; display: block; text-decoration: none; color: #333;">
                                Mới nhất
                            </button>
                        </li>
                        <li style="list-style: none;">
                            <button class="dropdown-item" value="mua-nhieu"
                                style="padding: 10px 15px; display: block; text-decoration: none; color: #333;">
                                Mua nhiều nhất
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>



        {{#each products}}
        <div style="height: 250px; border: 1px solid #000; overflow: hidden;margin-bottom:30px;">
            <div class="row g-0">
                <a href="/product/{{this.product_id}}" style=""
                    class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="{{this.mainImage}}" class="img-fluid" alt="..." style="width: 267px;aspect-ratio: 1/1;object-fit: cover;">
                </a>
                <div class="col-md-8">
                    <div class="card-body don-hang"
                        style="height: 250px; padding: 20px; position: relative;background-color:white">
                        <p
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-weight:bold;padding-right: 25px;">
                            {{this.name}}
                        </p>
                        {{!-- <p style="">Size: L</p> --}}
                        <p style="margin-top: 15px; color: red; font-weight: 600;">
                            {{formatPrice this.price}}₫
                        </p>
                        <p style="margin-top: 5px; font-size: 14px; color: #777;">
                            {{this.sold}} lượt mua
                        </p>

                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <form class="statusForm" action="admin/status" method="POST">
                                <select class="form-select statusSelect" name="status"
                                    style="width: auto; height: 40px; border: 1px solid #000000; font-size: 16px; border-radius: 0; margin-top: 30px; box-sizing: border-box;">
                                    <option value="con-hang" {{#ifEqual this.status "Còn hàng" }}selected{{/ifEqual}}>
                                        Còn hàng
                                    </option>
                                    <option value="het-hang" {{#ifEqual this.status "Hết hàng" }}selected{{/ifEqual}}>
                                        Hết hàng
                                    </option>
                                </select>
                                <input style="display: none;" type="text" value="{{this.product_id}}" name="id">
                            </form>

                            <div style="display:flex;gap:10px">
                                <a href="/admin/edit/{{this.product_id}}"
                                    style="background-color: #ff5722; color: #fff; margin-top: 30px; width: 120px; height: 40px; display: flex; align-items: center; justify-content: center; border: none; border-radius: 0; cursor: pointer; box-sizing: border-box; font-size: 16px;">
                                    Sửa
                                </a>
                                <button id="statusButton" data-bs-toggle="modal"
                                    data-bs-target="#xoaModal{{this.product_id}}"
                                    style="background-color: #fd1818; color: #fff; margin-top: 30px; width: 120px; height: 40px; display: flex; align-items: center; justify-content: center; border: none; border-radius: 0; cursor: pointer; box-sizing: border-box; font-size: 16px;">
                                    Xóa
                                </button>
                            </div>
                            <div class="modal fade" id="xoaModal{{this.product_id}}" tabindex="-1"
                                aria-labelledby="xoaModal{{this.product_id}}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content"
                                        style="position:relative; display: flex; align-items: center; justify-content: center;">
                                        <span class="closex" data-product-id="{{this.product_id}}"
                                            style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">
                                            &times;
                                        </span>
                                        <form method="post" action="admin/delete"
                                            style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                                            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">Bạn có
                                                chắc là muốn xóa sản phẩm này?</h1>
                                            <input style="display: none;" name="id" value="{{this.product_id}}">
                                            </p>
                                            <div
                                                style="display:flex;justify-content:space-between;gap:10px;padding:0 20px 0 20px">
                                                <button type="button" class="button-27 closex"
                                                    data-product-id="{{this.product_id}}"
                                                    style="margin-top: 15px; background-color: #000000; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Hủy
                                                </button>
                                                <button type="submit" class="button-27"
                                                    style="margin-top: 15px; background-color: #fd1818; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>


    <div class="flex-item-right" style="padding: 10px;flex: 30%;">
        <div
            style="background: #fff; padding-top: 0px;padding-top:0; border-radius: 0 15px 15px 0; width: 100%; box-shadow: none;margin-top:56px">
            <form id="searchForm" style="display: flex; width: 100%;" action="/admin/search">
                <input type="text" name="tensanpham" placeholder="Nhập tên sản phẩm"
                    style="flex: 1; padding: 12px; border: 1px solid #000000; border-right: none; border-radius: 0px; font-size: 16px;">

                <button type="submit"
                    style="padding: 12px; border: 1px solid #000000; border-left: none; border-radius: 0px; background-color: #f1f1f1; font-size: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16" style="cursor: pointer;">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </form>

            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin" style="background-color: #ff5722; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Quản lý sản phẩm
                </a>
            </div>
            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/san-pham-moi" style="background-color: #000000; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Đăng sản phẩm mới
                </a>
            </div>
            <span style="display: block; border-bottom: 1px solid rgb(0, 0, 0); margin-top: 15px;"></span>

            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/tai-khoan" style="background-color: #ff5722; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Quản lý tài khoản
                </a>
            </div>
             <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/order" style="background-color: #ff5722; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Quản lý đơn hàng
                </a>
            </div>
            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/doanh-thu" style="background-color: #000000; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Thống kê
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const closeButtons = document.getElementsByClassName('closex');
        Array.from(closeButtons).forEach(function (closeButton) {
            closeButton.onclick = function () {
                // Get the product_id from a data attribute on the button, or another way to associate the product ID
                const productId = closeButton.getAttribute('data-product-id');
                if (productId) {
                    $(`#xoaModal${productId}`).modal('hide'); // Select the modal with the specific product_id
                }
            }
        });
    });
</script>

<script>
    document.querySelectorAll('.statusSelect').forEach(select => {
        select.addEventListener('change', function () {
            this.closest('.statusForm').submit();
        });
    });
</script>
<script>
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', function () {
            document.getElementById('sortValue').value = this.value;
            document.getElementById('sortForm').submit();
        });
    });
</script>