<div class="flex-container"
    style="display: flex;flex-direction: row;font-size: 30px;gap:50px;text-align: center;padding: 0px 50px 0 50px; ">
    <div class="flex-item-left" style="padding: 10px; flex: 70%;">
        <div style="display: flex;justify-content:space-between">
            <h1 style="text-align: left;font-weight:bold ;">Đơn hàng</h1>
            <div style="display: flex; align-items: center;margin-right:0px;margin-bottom:6px">
                <form class="dropdown" id="sortForm" method="GET" action="">
                    <button id="sortDropdown"
                        style="width:100px;background-color: #ffffff; border: 1px solid #000000; border-radius: px; color: #151515; padding: 10px; font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; cursor: pointer; "
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lọc
                    </button>
                    <input type="hidden" name="sort" id="sortValue" value="">
                    <ul class="dropdown-menu" name="sort"
                        style="position: absolute; left: 50%; transform: translate(-50%, 0); text-align: center; margin-top: 5px; padding: 0; border-radius: 5px; background-color: #ffffff; border: 1px solid #ddd; z-index: 1000; width: auto;">
                        <li style="list-style: none;">
                            <button class="dropdown-item" value="dang-giao"
                                style="padding: 10px 15px; display: block; text-decoration: none; color: #333;">
                                Đang giao
                            </button>
                        </li>
                        <li style="list-style: none;">
                            <button class="dropdown-item" value="da-giao"
                                style="padding: 10px 15px; display: block; text-decoration: none; color: #333;">
                                Đã giao
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        {{#if note }}
        <p style="text-align: left;margin-top:10px; font-size: 20px">{{note}}</p>
        {{/if}}
        {{#each products}}
        <div style="height: 250px; border: 1px solid #000; overflow: hidden;margin-bottom:30px;">
            <div class="row g-0">
                <a href="/product/{{this.product_id}}"
                    class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="../../../../{{this.mainImage}}" class="img-fluid " alt="..."
                        style="width: 267px;aspect-ratio: 1/1;object-fit: cover;">
                </a>
                <div class="col-md-8" style="">
                    <div class="card-body don-hang"
                        style="height: 250px; padding: 20px; position: relative;background-color:white">
                        {{#ifEqual this.status "đang giao hàng"}}
                        <div style="position: absolute; right: 16px; top: 12px; cursor: pointer;">
                            <img src="https://img.icons8.com/ios-filled/50/000000/delete-sign.png" alt="Close"
                                id="statusButton" data-bs-toggle="modal" data-bs-target="#xoaModal{{this.id}}"
                                style="width: 20px; height: 20px;">
                            <div class="modal fade" id="xoaModal{{this.id}}" tabindex="-1"
                                aria-labelledby="xoaModal{{this.id}}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content"
                                        style="position:relative; display: flex; align-items: center; justify-content: center;">
                                        <span class="closexxx" data-product-id="{{this.id}}"
                                            style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">
                                            &times;
                                        </span>
                                        <div
                                            style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                                            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">Bạn có
                                                chắc là muốn hủy đơn hàng này?</h1>
                                            <div
                                                style="display:flex;justify-content:space-between;gap:10px;padding:0 20px 0 20px">
                                                <button type="button" class="button-27 closexxx" data-product-id="{{this.id}}"
                                                    style="margin-top: 15px; background-color: #000000; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Hủy
                                                </button>
                                                <button type="submit" class="button-27 xoa-btn" data-id="{{this.id}}"
                                                    style="margin-top: 15px; background-color: #fd1818; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/ifEqual}}
                        <p
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-weight:bold;padding-right: 25px;">
                            {{this.product_name}}
                        </p>
                        <div style="display: flex;gap:50px">
                            <p style="">Size: {{this.size}}</p>
                            <p style="">Màu: {{this.color}}</p>
                        </div>

                        <div style="display:flex;justify-content:space-between;">
                            <p style="margin-top: -5px; color: red; font-weight: 600; ">
                                {{formatPrice this.price}}₫</p>
                            <p
                                style="margin-top: 0px; font-weight: 100; font-family: 'Arial', sans-serif; font-size: 12px; font-style: italic; ">
                                {{this.ngay}}</p>
                        </div>

                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <select class="form-select" id="so-luong" name="sellist1" disabled
                                style="width: 100px; height: 40px; border: 1px solid #000000; font-size: 16px; border-radius: 0; margin-top: 30px; box-sizing: border-box;">
                                <option {{#ifEqual this.number 1 }}selected{{/ifEqual}}>1</option>
                                <option {{#ifEqual this.number 2 }}selected{{/ifEqual}}>2</option>
                                <option {{#ifEqual this.number 3 }}selected{{/ifEqual}}>3</option>
                                <option {{#ifEqual this.number 4 }}selected{{/ifEqual}}>4</option>
                            </select>
                            {{#ifEqual this.status "đang giao hàng" }}
                            <button data-bs-toggle="modal" data-bs-target="#xemModal{{account_id}}"
                                style="margin-top:30px;margin-left:70px;background-color: #4caf50; color: #fff; width: 120px; height: 40px; display: flex; align-items: center; justify-content: center; border: none; border-radius: 0; cursor: pointer; box-sizing: border-box; font-size: 16px;">
                                Xem
                            </button>
                            <div class="modal fade" id="xemModal{{account_id}}" tabindex="-1"
                                aria-labelledby="xemModal{{account_id}}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
                                    <div class="modal-content"
                                        style="position:relative; display: flex; align-items: center; justify-content: center;">
                                        <span class="closexx" data-product-id="{{account_id}}"
                                            style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">&times;</span>
                                        <div
                                            style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                                            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">Thông tin
                                                tài khoản</h1>

                                            <!-- Two Column Flex Container -->
                                            <div style="display: flex; gap: 20px;">

                                                <!-- Left Column (Existing Fields) -->
                                                <div style="flex: 1;">
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="username"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Tên
                                                            tài khoản</label>
                                                        <input type="text" id="username" name="username" disabled
                                                            value="{{username}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="hovaten"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Tên</label>
                                                        <input type="text" id="hovaten" name="hovaten"
                                                            value="{{fullname}}" disabled
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="email"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Email</label>
                                                        <input type="email" id="email" name="email" value="{{email}}"
                                                            disabled
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="so dien thoai"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Số
                                                            điện thoại</label>
                                                        <input type="text" id="so dien thoai" name="sdt"
                                                            value="{{phone}}" disabled
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="role"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Role</label>
                                                        <form class="statusForm" action="/admin/tai-khoan/role"
                                                            method="POST">
                                                            <select class="form-select statusSelect" id="role"
                                                                name="role"
                                                                style="width: 100%; height: 49.6px; border: 1px solid #000000; font-size: 16px; border-radius: 0; box-sizing: border-box;"
                                                                required>
                                                                <option value="user" {{#ifEqual role "user"
                                                                    }}selected{{/ifEqual}}>User</option>
                                                                <option value="admin" {{#ifEqual role "admin"
                                                                    }}selected{{/ifEqual}}>Admin</option>
                                                            </select>
                                                            <input style="display: none;" type="text"
                                                                value="{{account_id}}" name="id">
                                                        </form>
                                                    </div>
                                                </div>

                                                <!-- Right Column (New Fields) -->
                                                <div style="flex: 1;">
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="tinh"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Tỉnh</label>
                                                        <input type="text" id="tinh" name="tinh" disabled
                                                            value="{{tinh}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="quan-huyen"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Quận/Huyện</label>
                                                        <input type="text" id="quan-huyen" name="quan_huyen" disabled
                                                            value="{{quan}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="phuong-xa"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Phường/Xã</label>
                                                        <input type="text" id="phuong-xa" name="phuong_xa" disabled
                                                            value="{{phuong}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="dia-chi-nha"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Địa
                                                            chỉ nhà</label>
                                                        <input type="text" id="dia-chi-nha" name="dia_chi_nha" disabled
                                                            value="{{nha}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="ghi-chu"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Ghi
                                                            chú</label>
                                                        <input type="text" id="ghi-chu" name="ghi-chu" disabled
                                                            value="{{ghichu}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Quản lý sản phẩm Button -->
                                            <a class="button-27" href="/admin/tai-khoan/order/{{account_id}}"
                                                style="background-color: #ff5722; color: #fff; margin-top: 15px; width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                                                Quản lý sản phẩm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="statusButton" class="madonhang" data-bs-toggle="modal" data-id="{{this.id}}"
                                data-bs-target="#huyModal{{this.id}}"
                                style="background-color: #ff5722; color: #fff; margin-top: 30px; width: 170px; height: 40px; display: flex; align-items: center; justify-content: center; border: none; border-radius: 0; cursor: pointer; box-sizing: border-box; font-size: 16px;">
                                <i class="bi bi-truck" style="margin-right: 8px; font-size: 20px;"></i> Đang giao
                            </button>
                            <div class="modal fade" id="huyModal{{this.id}}" tabindex="-1"
                                aria-labelledby="huyModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content"
                                        style="position:relative; display: flex; align-items: center; justify-content: center;">
                                        <span class="closex" data-id="{{this.id}}"
                                            style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">
                                            &times;
                                        </span>
                                        <div
                                            style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                                            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">Bạn có
                                                chắc là muốn xác nhận đã giao đơn hàng này?</h1>
                                            <div style="display:flex;justify-content:space-between;gap:10px">
                                                <button type="button" class="button-27 closex" data-id="{{this.id}}"
                                                    style="margin-top: 15px; background-color: #000000; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width: 100%; font-size: 16px;">
                                                    Đóng
                                                </button>
                                                <button type="button" class="button-27 huy-btn" id="{{this.id}}"
                                                    data-id="{{this.id}}"
                                                    style="margin-top: 15px; background-color: #fd1818; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width: 100%; font-size: 16px;">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{else}}
                            {{#ifEqual this.status "đã giao"}}
                            <button data-bs-toggle="modal" data-bs-target="#xemModal{{account_id}}"
                                style="margin-top:30px;margin-left:70px;background-color: #4caf50; color: #fff; width: 120px; height: 40px; display: flex; align-items: center; justify-content: center; border: none; border-radius: 0; cursor: pointer; box-sizing: border-box; font-size: 16px;">
                                Xem
                            </button>
                            <div class="modal fade" id="xemModal{{account_id}}" tabindex="-1"
                                aria-labelledby="xemModal{{account_id}}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
                                    <div class="modal-content"
                                        style="position:relative; display: flex; align-items: center; justify-content: center;">
                                        <span class="closexx" data-product-id="{{account_id}}"
                                            style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">&times;</span>
                                        <div
                                            style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                                            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">Thông tin
                                                tài khoản</h1>

                                            <!-- Two Column Flex Container -->
                                            <div style="display: flex; gap: 20px;">

                                                <!-- Left Column (Existing Fields) -->
                                                <div style="flex: 1;">
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="username"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Tên
                                                            tài khoản</label>
                                                        <input type="text" id="username" name="username" disabled
                                                            value="{{username}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="hovaten"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Tên</label>
                                                        <input type="text" id="hovaten" name="hovaten"
                                                            value="{{fullname}}" disabled
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="email"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Email</label>
                                                        <input type="email" id="email" name="email" value="{{email}}"
                                                            disabled
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="so dien thoai"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Số
                                                            điện thoại</label>
                                                        <input type="text" id="so dien thoai" name="sdt"
                                                            value="{{phone}}" disabled
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="role"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Role</label>
                                                        <form class="statusForm" action="/admin/tai-khoan/role"
                                                            method="POST">
                                                            <select class="form-select statusSelect" id="role"
                                                                name="role"
                                                                style="width: 100%; height: 49.6px; border: 1px solid #000000; font-size: 16px; border-radius: 0; box-sizing: border-box;"
                                                                required>
                                                                <option value="user" {{#ifEqual role "user"
                                                                    }}selected{{/ifEqual}}>User</option>
                                                                <option value="admin" {{#ifEqual role "admin"
                                                                    }}selected{{/ifEqual}}>Admin</option>
                                                            </select>
                                                            <input style="display: none;" type="text"
                                                                value="{{account_id}}" name="id">
                                                        </form>
                                                    </div>
                                                </div>

                                                <!-- Right Column (New Fields) -->
                                                <div style="flex: 1;">
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="tinh"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Tỉnh</label>
                                                        <input type="text" id="tinh" name="tinh" disabled
                                                            value="{{tinh}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="quan-huyen"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Quận/Huyện</label>
                                                        <input type="text" id="quan-huyen" name="quan_huyen" disabled
                                                            value="{{quan}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="phuong-xa"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Phường/Xã</label>
                                                        <input type="text" id="phuong-xa" name="phuong_xa" disabled
                                                            value="{{phuong}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="dia-chi-nha"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Địa
                                                            chỉ nhà</label>
                                                        <input type="text" id="dia-chi-nha" name="dia_chi_nha" disabled
                                                            value="{{nha}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                                    </div>
                                                    <div style="margin-bottom: 10px;">
                                                        <label for="ghi-chu"
                                                            style="display: block; margin-bottom: 5px; color: #555; font-size: 18px; text-align: left;">Ghi
                                                            chú</label>
                                                        <input type="text" id="ghi-chu" name="ghi-chu" disabled
                                                            value="{{ghichu}}"
                                                            style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Quản lý sản phẩm Button -->
                                            <a class="button-27" href="/admin/tai-khoan/order/{{account_id}}"
                                                style="background-color: #ff5722; color: #fff; margin-top: 15px; width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                                                Quản lý sản phẩm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="madonhang"
                                style="background-color: #4caf50; color: #fff; margin-top: 30px; width: 170px; height: 40px; display: flex; align-items: center; justify-content: center; border: none; border-radius: 0; cursor: pointer; box-sizing: border-box; font-size: 16px;">
                                <i class="bi bi-truck" style="margin-right: 8px; font-size: 20px;"></i> {{this.status}}
                            </button>
                            {{/ifEqual}}

                            {{/ifEqual}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <form id="huy-form" method="POST" style="display:none">
        <input id="huy-id" type="hidden" name="id" value="">
    </form>
    <form id="xoa-form" method="POST" style="display:none" action="xoa">
        <input id="xoa-id" type="hidden" name="xoa_id" value="">
    </form>

    <div class="flex-item-right" style="padding: 10px;flex: 30%;">
        <div
            style="background: #fff; padding-top: 0px;padding-top:0; border-radius: 0 15px 15px 0; width: 100%; box-shadow: none;margin-top:56px">
            <form id="searchForm" style="display: flex; width: 100%;" action="/admin/search">
                <input type="text" name="tensanpham" placeholder="Nhập tên sản phẩm"
                    style="flex: 1; padding: 12px; border: 1px solid #000000; border-right: none; border-radius: 0px; font-size: 16px;">

                <button type="submit"
                    style="padding: 12px; border: 1px solid #000000; border-left: none; border-radius: 0px; background-color: #f1f1f1; font-size: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16" style="cursor: pointer;">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </form>

            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin" style="background-color: #ff5722; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Quản lý sản phẩm
                </a>
            </div>
            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/san-pham-moi" style="background-color: #000000; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Đăng sản phẩm mới
                </a>
            </div>
            <span style="display: block; border-bottom: 1px solid rgb(0, 0, 0); margin-top: 15px;"></span>

            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/tai-khoan" style="background-color: #ff5722; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Quản lý tài khoản
                </a>
            </div>
            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/order" style="background-color: #ff5722; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Quản lý đơn hàng
                </a>
            </div>
            <div style="display: flex;  justify-content: right;">
                <a class="button-27" href="/admin/doanh-thu" style="background-color: #000000; color: #fff;margin-top: 15px;
                     width: 100%; display: flex; align-items: center; justify-content: center; border: none;">
                    Thống kê
                </a>
            </div>
        </div>
    </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll("#statusButton");
        button.forEach(btn => {
            if (btn.textContent.includes("Đang giao")) {
                btn.onmouseover = function () {
                    this.innerHTML = '<i class="bi bi-truck" style="margin-right: 8px; font-size: 20px;"></i> Đã giao';
                    this.style.backgroundColor = '#4caf50';
                };
                btn.onmouseout = function () {
                    this.innerHTML = '<i class="bi bi-truck" style="margin-right: 8px; font-size: 20px;"></i> Đang giao';
                    this.style.backgroundColor = '#ff5722';
                };
            }
        })
        // Check if the button text includes "Đang giao"
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const closeButtons = document.getElementsByClassName('closex');

        Array.from(closeButtons).forEach(function (closeButton) {
            closeButton.onclick = function () {
                // Get the modal ID from the button's 'data-id' or the button's own id
                const modalId = `#huyModal${closeButton.getAttribute('data-id')}`;
                // Hide the modal dynamically
                $(modalId).modal('hide');
            }
        });
        const xemButtons = document.getElementsByClassName('closexx');
        Array.from(xemButtons).forEach(function (xemButton) {
            xemButton.onclick = function () {
                const productId = xemButton.getAttribute('data-product-id');
                if (productId) {
                    $(`#xemModal${productId}`).modal('hide'); // Select the modal with the specific product_id
                }
            }
        });
        const xoaButtons = document.getElementsByClassName('closexxx');
        Array.from(xoaButtons).forEach(function (xoaButton) {
            xoaButton.onclick = function () {
                const productId = xoaButton.getAttribute('data-product-id');
                if (productId) {
                    $(`#xoaModal${productId}`).modal('hide'); // Select the modal with the specific product_id
                }
            }
        });
    });

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const huyform = document.getElementById('huy-form');
        const huyid = document.getElementById('huy-id');
        const huybtn = document.querySelectorAll('.huy-btn');

        huybtn.forEach(function (button) {
            button.onclick = function () {
                const id = button.getAttribute('data-id');
                huyid.value = id;
                console.log(huyid.value);
                huyform.submit();
            };
        });

        const xoaform = document.getElementById('xoa-form');
        const xoaid = document.getElementById('xoa-id');
        const xoabtn = document.querySelectorAll('.xoa-btn');

        xoabtn.forEach(function (button) {
            button.onclick = function () {
                const id = button.getAttribute('data-id');
                xoaid.value = id;
                console.log(xoaid.value);
                xoaform.submit();
            };
        });

        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function () {
                const sort = this.value;
                document.getElementById('sortValue').value = sort;

                // Submit the form to send both 'text' and 'sort' parameters
                document.getElementById('sort-form').submit();
            });
        });

    });
</script>